/*@import "tailwindcss/base";*/
/*@import "tailwindcss/components";*/
/*@import "tailwindcss/utilities";*/
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
.bg-237 {
    background: rgb(237, 237, 237 );
}
#toast{
    max-width: 700px;
    min-width: 300px;
    padding: 14px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    /*background-color: rgba(38, 45, 57, 0.88);*/

    color: white;
    font-size: 14px;
    line-height: 21px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 99999;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 10px);
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
}
#toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

#form_app input, #form_app select, textarea  {
    border-color : #f0f0f0;
}

.continent-container {
    display: flex;
}

.continent-card {
    width: 160px; height: 210px; padding: 5px; margin-right:10px
}

.continent-name {
    display:block; font-size: 15px; font-weight: bold; letter-spacing : 3px; margin-bottom: 5px;
}
.continent-name-en {
    display:block; font-size: 12px; font-weight: bold; letter-spacing : 3px; margin-bottom: 5px;
}
.continent-country-count {
    display:block; font-size: 12px; margin-bottom: 5px;
}

.current-open-menu {
    border-bottom: 2px solid #333;
}

.post-action-nav {
    width: 100%; height: 40px; border-top : 1px solid rgb(210, 214, 220); border-bottom: 1px solid rgb(210, 214, 220);
}
.post-commnet-nav {
    height: 40px; border-bottom: 1px solid rgb(210, 214, 220);
}

.circle {
    display: inline-block;
    width: 20px; /* 원형 span의 너비 */
    height: 20px; /* 원형 span의 높이 */
    line-height: 20px; /* 수직 정렬을 위해 높이와 동일한 값 사용 */
    text-align: center; /* 수평 정렬을 위해 텍스트 가운데 정렬 */
    border-radius: 50%; /* 원형으로 만들기 위해 50% 값 사용 */
    font-size: 12px; /* 텍스트 크기 (원하는 크기로 변경 가능) */
}
